#!/usr/bin/make -f

SOURCE_VERSION  := $(shell dpkg-parsechangelog --show-field version)
UC        := uncloud
SOURCE    := https://github.com/psviderski/$(UC)/releases/download/v$(SOURCE_VERSION)/$(UC)_linux_amd64.tar.gz
DOWNLOAD  := $(UC)_linux_amd64.tar.gz
BINARY    := uc

%:
	dh $@

override_dh_auto_configure:
	dh_clean
	if [ ! -f $(DOWNLOAD) ]; then curl -L $(SOURCE) > $(DOWNLOAD); fi
	tar xf $(DOWNLOAD) && mv uncloud $(BINARY) && chmod 755 $(BINARY)
	./uc completion zsh > _uc
	./uc completion bash > uc.bash
	mkdir -p debian/_man && rm -f debian/manpages
	#(cd debian/_man && ../uc doc --manual)
	(cd debian/_man && touch uc.1)
	(cd debian; for i in _man/*; do echo $$i >> manpages; done )

override_dh_strip:

override_dh_auto_clean:
	rm -rf debian/$(UC)/usr/bin

override_dh_auto_install:
	mkdir -p debian/$(UC)/usr/bin
	cp $(BINARY) debian/$(UC)/usr/bin
	mkdir -p debian/$(UC)/usr/share/zsh/vendor-completions
	cp _uc debian/$(UC)/usr/share/zsh/vendor-completions
	mkdir -p debian/$(UC)/usr/share/bash-completion/completions
	cp uc.bash debian/$(UC)/usr/share/bash-completion/completions/uc
