Source: uncloudd
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9), lsb-release
Maintainer: Miek Gieben <miek@miek.nl>
Vcs-Git: https://github.com/psviderski/uncloud
Homepage: https://uncloud.run

Package: uncloudd
Architecture: any
Depends: docker.io, containerd
Pre-Depends: adduser, sysuser-helper
Description: Uncloud Daemon
 Lightweight clustering and container orchestration tool that lets you deploy and
 manage web apps across cloud VMs and bare metal with minimised cluster management overhead.
