[Unit]
# run/uncloud/api/uncloud.sock. new place
Description=Uncloud Socket for the API

[Socket]
ListenStream=/run/uncloud.sock
SocketMode=0660
SocketUser=uncloud
SocketGroup=uncloud

[Install]
WantedBy=sockets.target
