#!/usr/bin/make -f

SOURCE_VERSION  := $(shell dpkg-parsechangelog --show-field version)
# TODO(miek): defaults to amd64
SOURCE          := https://github.com/psviderski/corrosion/releases/download/${SOURCE_VERSION}/corrosion-amd64-unknown-linux-gnu.tar.gz
DOWNLOAD        := corrosion-x86_64-unknown-linux-gnu.tar.gz
BINARY          := uncloud-corrosion

%:
	dh $@ --with sysuser

override_dh_auto_configure:
	dh_clean
	if [ ! -f $(DOWNLOAD) ]; then curl -L $(SOURCE) > $(DOWNLOAD); fi
	tar xf $(DOWNLOAD) && mv corrosion $(BINARY) && chmod 755 $(BINARY)

override_dh_strip:

override_dh_auto_clean:
	rm -rf debian/$(BINARY)/usr/bin

override_dh_auto_install:
	mkdir -p debian/$(BINARY)/usr/bin
	cp $(BINARY) debian/$(BINARY)/usr/bin
